{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Result</title>>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo">

    
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css % }" rel="stylesheet">

<link href="{% static 'css/color-variations/purple.css' %}" rel="stylesheet" type="text/css" media="screen">
    <style>
        .nav-item:hover {
            background-color: rgba(0, 0, 0, 0.829);
        }
    </style>
</head>


<body>
    <div class="body-inner">

       

        <section>
            <div style="text-align: center; padding:50px; border-style:solid; max-width: 500px; margin-left: 500px; margin-top: 200px;">
                <h1>
                    Psychometric Test
                </h1>
               
            
                <div class="row d-flex justify-content-center">
                   
                   
                    <div class="col-xs-12 col-md-6 col-lg-4">
                        <div class="card shadow p-3 mb-5 bg-white rounded" style="text-align: center; padding:20px;  ">
                            <div class="card-block">
                                <h4 class="card-title" style="color: black; font-weight: 50000; font-size: 20px; ">
                                    RESULT: </h4>
                                <p class="card-text" style="color: black;font-size: 18px;  ">{{result}}
                                </p>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </section>




        <a id="scrollTop"><i class="icon-chevron-up1"></i><i class="icon-chevron-up1"></i></a>

        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>

        <script src="{% static 'js/functions.js' %}"></script>

        <script src="{% static 'js/plugins/components/particles.js' %}"></script>
        <script src="{% static 'js/plugins/components/particles-animation.js' %}"></script>

    </div>
</body>

</html>